.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 90%;
	background-color: #5eb9d7;
	padding:10px;
	margin: -8px;
}

.grid-item {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #1c1c1c;
	text-align: center;
}


#item {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.button {
	position: relative;
	width: 100wh;
	margin-left: -8px;
	margin-bottom: 0px;
	margin-right: -8px;
	padding-top: 18px;
}

.button-style {
	background-color: #5eb9d7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	letter-spacing: 1px;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 14px 30px;
	text-decoration: none;
	cursor: pointer;
}

.button-style:hover {
	background-color: #48a1c2;
	color: white;
}
