.full-height {
    min-height: 100%;
}

.full-width {
    min-width: 100%;
}

.float-top {
    position: absolute;
    top: 0;
    left: 0;
}

.float-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.password-prompt {
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: rgba(20, 20, 20, 0.9);
}

.password-prompt > * {
    width: 100%;
    text-align: center;
    align-self: center;
    color: #dddddd;
}

.password-grid {
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.password-col {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.password-cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #dddddd;
    border-radius: 50%;
}
